@charset "utf-8";
/* CSS Document */

h1, h2 {
  font-family: "Neutraface Text Alt", "NeutrafaceText", "NeutrafaceText", "NeutrafaceText-Book", "NeutrafaceText-BoldAlt", Helvetica, Arial, sans-serif;
}

h3, h4, h5 {
  font-family: "Bodoni-urw", sans-serif;
  text-transform: capitalize;
  font-style: italic;
}

.nav-link {
  font-size: 1.5rem;
}

.banner {
  background: url(../images/logo2.png) center center no-repeat;
  background-size: contain;
  height: 33vh;
  text-align: center;
  display: flex;
  justify-content:center;
  align-items:flex-end;
}

p, li {
  font-family: 'Futura-pt', arial, sans-serif;
}

p {
  font-size: 1.25rem;
}

.footer {
  display: flex;
  justify-content: space-between;
  background-color: #000000;
}

.mainlist > li {
  margin-bottom: 10px;
}

.sublist {
  list-style-type: lower-alpha;
}

@media (min-width: 1000px) {
  .banner {
    height: 75vh;
  }
}