@charset "utf-8";
/* CSS Document */

body {
  background-color: #e5e5e5;
}

h1, h2 {
  font-family: "Neutraface Text Alt", "NeutrafaceText", "NeutrafaceText", "NeutrafaceText-Book", "NeutrafaceText-BoldAlt", Helvetica, Arial, sans-serif;
}

h3, h4, h5 {
  font-family: "Bodoni-urw", sans-serif;
  text-transform: capitalize;
  font-style: italic;
}

.logo {
  width: 100%;
  position: absolute;
  z-index: -10;
  display: flex;
  justify-content:center;
}

.logo-img {
  width: 250px;
}

/*nav {
  margin: 50px 0px; 
}*/

#spotlight-video {
  width: 100%;
  border: none;
  box-shadow: none;
  outline: unset;
  display: block;
  margin: 0;
  padding: 0;
}

.nav-link {
  font-size: 1.5rem;
}

.banner {
  text-align: center;
  display: flex;
  justify-content:center;
  align-items: center;
  border: none;
}

p, li {
  font-family: 'Futura-pt', arial, sans-serif;
}

p {
  font-size: 1.25rem;
}

.footer {
  display: flex;
  justify-content: space-between;
  background-color: #000000;
}

.mainlist > li {
  margin-bottom: 10px;
}

.sublist {
  list-style-type: lower-alpha;
}

@media (max-width: 350px) {
  .logo {
    justify-content: start;
  }
  
  .logo-img {
    width: 175px;
  }

  /*nav {
    margin: 35px 0px;
  }*/
}